/* styles.css or App.css */

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: grid;
  gap: 10px;
}

.form label {
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form-container {
    padding: 10px;
  }
}


body {
  font-family: 'Arial', sans-serif; /* Example: Use Arial or other web-safe fonts */
  font-size: 12px; /* Adjust font size as needed */
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  text-align: center; /* Center-align text within the header */
}
.resume-container {
  text-align: left;
}
.resume-container h2,
.resume-container p,
.resume-container ul,
.resume-container li {
  text-align: left;
}


.App-header h1 {
  color: white;
  font-size: 2.5rem;
  margin: 0;
}
